body {
    font-family: 'Arial', sans-serif;  
    font-size: 13pt;
    padding: 5px;
}

table{
    border-collapse: collapse;
    margin: 0 auto; 
}

TD{
    padding: 5px; 
    border: 1px solid black;
    min-width: 200px;
}
.buttons{
    display:grid;
    margin: 0 auto;
}
.add-button{
    min-width: 100px;
    margin: 10px 0px 0px 500px;
}

.table-head{
    background: cadetblue;
}
.modal,
.modal-background{
    display: none;
    position: absolute;
}

.modal-background{
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.4;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.content-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
}

.login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    background-color: cadetblue;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}